html,
body {
  height: 100%;
  font-size: 62.5%;
}
#svgMain {
  height: 100%;
  width: 80%;
  position: absolute;
  left: 20%;
  margin: 0;
}
#sidebar {
  border-right: 2px solid #000;
  height: 100%;
  width: 20%;
  position: absolute;
  padding-right: 1rem;
}
.eventType {
  border-radius: 15px;
  background-color: #60d5ac;
  color: #fff;
  font-size: 2rem;
  width: 100%;
  height: 60px;
  margin: 5px;
  text-align: center;
  padding-top: 30px;
  cursor: move;
}
.event {
  fill: #60d5ac;
}
.eventHtml {
  overflow: auto;
}
.eventInnerDiv {
  color: #fff;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 1.5rem;
}
.eventTitle {
  font-size: 2rem;
  fill: #fff;
  text-anchor: middle;
  cursor: move;
}
.eventTitleRect {
  fill: #f46e8f;
  cursor: move;
}
.leftResizeBar,
.rightResizeBar {
  cursor: ew-resize;
  opacity: 0;
}
.topResizeBar,
.bottomResizeBar {
  cursor: ns-resize;
  opacity: 0;
}
.andRect,
.followedByRect {
  fill: #ae2c4c;
}
.connector {
  fill: none;
  stroke: #000;
  stroke-width: 3;
}
.connectorCircle {
  fill: #ae2c4c;
}
.connectorText {
  text-anchor: middle;
  font-size: 1.5rem;
  dominant-baseline: central;
}
.andLabel,
.followedByLabel {
  text-anchor: middle;
  font-size: 1.2rem;
  dominant-baseline: central;
  fill: #fff;
}
