primaryColor = #00AB6F
primaryColorLight = #60D5AC
primaryColorLighter = #60D5AC
primaryColorDark = #20805E
primaryColorDarker = #006F48

secondaryColor = #E9003A
secondaryColorLight = #F43D6B
secondaryColorLighter = #F46E8F
secondaryColorDark = #AE2C4C
secondaryColorDarker = #970026


html, body
  height:100%
  font-size: 62.5%

#svgMain
  height: 100%
  width: 80%
  position: absolute
  left: 20%
  margin: 0

#sidebar
  border-right: 2px solid black
  height: 100%  
  width:20%
  position: absolute
  padding-right: 1rem

.eventType
  border-radius: 15px
  background-color: primaryColorLight
  color:white;
  font-size: 2rem
  width: 100%
  height: 60px
  margin: 5px
  text-align: center
  padding-top: 30px
  cursor: move

.event
  fill: primaryColorLight

.eventInnerDiv
  color:white
  width: 100%
  height: 100%

.eventTitle
  font-size: 2rem
