primaryColor = #00AB6F
primaryColorLight = #60D5AC
primaryColorLighter = #60D5AC
primaryColorDark = #20805E
primaryColorDarker = #006F48

secondaryColor = #E9003A
secondaryColorLight = #F43D6B
secondaryColorLighter = #F46E8F
secondaryColorDark = #AE2C4C
secondaryColorDarker = #970026


html, body
  height:100%
  font-size: 62.5%

#svgMain
  height: 100%
  width: 80%
  position: absolute
  left: 20%
  margin: 0

#sidebar
  border-right: 2px solid black
  height: 100%  
  width:20%
  position: absolute
  padding-right: 1rem

.eventType
  border-radius: 15px
  background-color: primaryColorLighter
  color:white;
  font-size: 2rem
  width: 100%
  height: 60px
  margin: 5px
  text-align: center
  padding-top: 30px
  cursor: move

.event
  fill: primaryColorLighter

.eventHtml
  overflow: auto

.eventInnerDiv
  color:white
  width: 100%
  height: 100%
  overflow: auto
  font-size: 1.5rem

.eventTitle
  font-size: 2rem
  fill: white
  text-anchor: middle
  cursor: move

.eventTitleRect
  fill: secondaryColorLighter
  cursor: move

.leftResizeBar, .rightResizeBar
  cursor: ew-resize
  opacity: 0

.topResizeBar, .bottomResizeBar
  cursor: ns-resize
  opacity: 0

.andRect, .followedByRect
  fill: secondaryColorDark

.connector
  fill: none
  stroke: black
  stroke-width: 3

.connectorCircle
  fill: secondaryColorDark

.connectorText
  text-anchor: middle
  font-size:1.5rem
  dominant-baseline: central

.andLabel, .followedByLabel
  text-anchor: middle
  font-size:1.2rem
  dominant-baseline: central
  fill: white
.condition
  margin-left: 1rem

.valueInput:after
  content "<br>"
