<div id="sidebar"></div>
<div id="right">
<svg id="svgMain">
  <g class="events"></g>
</svg>
<div class="footer">
  <textarea name="eplOutput" id="eplOutput" cols="100" rows="10" ></textarea>
  <button class="saveButton">Save</button>
</div>